body {
    font-family: 'Lexend Exa', sans-serif;
}
.container-navbar {
    margin-bottom: 60px;
}
.logo-tch {
    position: absolute;
    top: 15px;
    left: 10%;
    transform: translateX(-50%);
    animation: slide-in 1s ease-out infinite;
    margin-bottom: 200px;
    z-index: 1000;
}
.logo-tch a {
    color: black;
}
.logo-tch a:hover {
    text-decoration: none;
    color: white;
}
.nav {
    position: absolute;
    top: 15px;
    left: 80%;
    transform: translateX(-50%);
    border: 2px solid #EBECF1;
    border-radius: 30px;
    z-index: 1000;
}
.nav-ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 0;
    list-style-type: none;
}
.nav-ul:hover {
    border-radius: 30px;
}
.nav_li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.nav_li:hover {
    text-decoration: none;
}
.nav_li:not(.active) .nav-a:hover {
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.nav-a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}
@keyframes slide-in {
    0% {
        top: -50px;
    }
    40% {
        top: 20px;
    }
    70% {
        top: 10px;
    }
    100% {
        top: 15px;
    }
}
.nav_li.active .nav-a {
    background-color: #274c77;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
}
@keyframes shakeX {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.logo-tch {
    animation: shakeX 1s cubic-bezier(.36,.07,.19,.97) both;
}